/*打印瓶贴*/
#printBottle {
    width: 600px;
    margin: 20px auto;
}

.bottle-list {
    border: 1px solid #e8e8e8;
}

.bottle-item {
    border-top: 1px solid #e8e8e8;
    line-height: 30px;
    text-indent: 1em;
}

.bottle-item:first-child {
    border-top: none;
}

/*内部的列*/
.bottle-item-flex {
    justify-content: space-between;
    display: flex;
}

/*内部的每一项*/
.bottle-inner-no {
    width: 10%;
}

.bottle-inner-prod {
    width: 30%;
    border-left: 1px solid #e8e8e8;
}

.bottle-inner-count {
    width: 30%;
    border-left: 1px solid #e8e8e8;
}

/*打印配置单*/
#printMenu {
    width: 400px;
    margin: 20px auto;
}

.menu-item {
    justify-content: space-between;
    display: flex;
}

.menu-item-last {
    width: 40%;
}
