/*主要内容*/
.layout-content-inner-main {
    padding: 24px;
}

/*按钮组的基础间距*/
.a-input-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.a-input-group + .a-input-group {
    padding-top: 0;
}


/*特殊的表头是选择框的那种*/
.custom-select-title-table .ant-table-bordered .ant-table-body > table {
    border-top: none;
    border-left: none;
}

/*特殊的表头是选择框的那种*/
.custom-select-title-table .ant-table-thead > tr:first-child > th:last-child {
    border-right: none;
}

/*特殊的表头是选择框的那种*/
.custom-select-title-table .ant-table-bordered .ant-table-tbody > tr > td:last-child {
    border-right: none;
}

/*特殊的表头是选择框的那种*/
.custom-select-title-table .ant-table-bordered .ant-table-tbody > tr:last-child > td {
    border-bottom: none;
}

/*特殊的表头是选择框的那种*/
.custom-select-title-table .ant-table-bordered.ant-table-empty .ant-table-placeholder {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

/*表组*/
.table-group {
    min-width: 700px;
    border: 1px solid #e8e8e8;
    border-bottom: none;
}

/*表组的头*/
.table-group-title {
    height: 54px;
    background-color: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 16px;
}


/*上传图片*/
/*上传图片后的默认图*/
.upload-default-img {
    width: 100%;
    display: block;
}

/*弹框里的表格的最大高度*/
.table-in-box {
    max-height: 500px;
    overflow: auto;
}

/*穿梭框，第一个列表不要全部按钮 第一个按钮*/
.ant-transfer .ant-transfer-list.ant-transfer-list-with-footer:first-child .ant-transfer-list-footer .ant-btn.ant-btn-sm {
    visibility: hidden;
}


/*负数的margin，主要用于表格*/
.negative-margin-16 {
    margin: -16px;
}