/*主要内容*/
.layout-content-inner-main {
    padding: 24px;
}

/*按钮组的基础间距*/
.a-input-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.a-input-group + .a-input-group {
    padding-top: 0;
}


/*特殊的表头是选择框的那种*/
.custom-select-title-table .ant-table-bordered .ant-table-body > table {
    border-top: none;
    border-left: none;
}

/*特殊的表头是选择框的那种*/
.custom-select-title-table .ant-table-thead > tr:first-child > th:last-child {
    border-right: none;
}

/*特殊的表头是选择框的那种*/
.custom-select-title-table .ant-table-bordered .ant-table-tbody > tr > td:last-child {
    /*border-right: none;*/
}

/*特殊的表头是选择框的那种*/
.custom-select-title-table .ant-table-bordered .ant-table-tbody > tr:last-child > td {
    border-bottom: none;
}

/*特殊的表头是选择框的那种*/
.custom-select-title-table .ant-table-bordered.ant-table-empty .ant-table-placeholder {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

/*表组*/
.table-group {
    min-width: 700px;
    border: 1px solid #e8e8e8;
    border-bottom: none;
}

/*表组的头*/
.table-group-title {
    height: 54px;
    background-color: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 16px;
    /*这是为了打印背景色*/
    -webkit-print-color-adjust: exact;
}

/*仅仅不需要底部边框border-bottom*/
.table-group-title.no-border-bottom {
    border: 1px solid #e8e8e8;
    border-bottom: none;
}

/*上传图片*/
/*上传图片后的默认图*/
.upload-default-img {
    width: 100%;
    display: block;
}

/*弹框里的表格的最大高度*/
.table-in-box {
    max-height: 500px;
    overflow: auto;
}

/*穿梭框，第一个列表不要全部按钮 第一个按钮*/
.ant-transfer .ant-transfer-list.ant-transfer-list-with-footer:first-child .ant-transfer-list-footer .ant-btn.ant-btn-sm {
    visibility: hidden;
}


/*
* 合并的表格
*/
/*负数的margin，主要用于表格*/
.negative-margin-16 {
    margin: -16px;
}

/*负数表格下的每一项*/
.negative-margin-item {
    border-bottom: 1px solid #e8e8e8;
    display: block;
    width: 100%;
    /*line-height: 40px;*/
    padding: 16px;
}

/*如果是，input，需要小一点*/
.negative-margin-item.is-input {
    padding-top: 10px;
    padding-bottom: 10px;
}

.negative-margin-item:last-child {
    border-bottom: none;
}

/*信息面板、描述面板的圆角*/
.ant-descriptions-view {
    border-radius: 0;
}


/*卡片标题*/
.ant-card-head-title {
    padding-top: 12px;
    padding-bottom: 12px;
}

.ant-card-head-title {
    text-align: center;
}

/*卡片身体*/
.ant-card-body {
    padding: 16px;
}


/*描述列表 - 患者信息那块*/
/*每一项*/
.ant-descriptions-row .ant-descriptions-item-content {
    width: 20%;
    height: 50px;
}