p {
    margin-bottom: 0;
}


li {
    list-style-type: none;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}


hr {
    border-top: none;
    margin: 0;
}

/*!*滚动条*!*/
/**::-webkit-scrollbar {*/
/*    !*display: none;*!*/
/*    visibility: hidden;*/
/*}*/