/*基础选择框*/
.basic-select-width,
.basic-input-width {
    width: 125px;
}

/*加长 ，适合 8 个字*/
.lengthen-input-width {
    width: 140px;
}

.lengthen-select-width {
    width: 150px;
}

/*十个字*/
.longer-input-width {
    width: 160px;
}


/*日期选择范围*/
.basic-range-picker-width {
    width: 240px;
}


/*特殊的过长的行*/
.lengthen-search-group::after {
    clear: both;
    display: block;
    content: '';
}

.lengthen-search-group > .basic-input-width,
.lengthen-search-group > .basic-select-width,
.lengthen-search-group > .lengthen-select-width,
.lengthen-search-group > .basic-range-picker-width,
.lengthen-search-group > .lengthen-input-width {
    float: left;
    margin-right: 8px;
    margin-bottom: 10px;
}

