/*基础选择框*/
.basic-select-width,
.basic-input-width {
    width: 125px;
}

/*加长 ，适合 7 个字*/
.lengthen-input-width {
    width: 140px;
}

/*十个字*/
.longer-input-width {
    width: 160px;
}

.lengthen-select-width {
    width: 150px;
}

/*加长 ，适合 7 个字*/
.longer-select-width {
    width: 160px;
}


/*日期选择范围*/
.basic-range-picker-width {
    width: 240px;
}

/*特殊的过长的行*/
.a-input-group::after {
    clear: both;
    display: block;
    content: '';
}


/*按钮组的基础间距*/
.a-input-group + .a-input-group {
    margin-bottom: 10px;
}


/*按钮，不浮动*/
.a-input-group > .basic-button-width {
    margin-right: 8px;
    margin-bottom: 10px;
}

.a-input-group > .basic-input-width,
.a-input-group > .basic-select-width,
.a-input-group > .lengthen-select-width,
.a-input-group > .longer-select-width,
.a-input-group > .basic-range-picker-width,
.a-input-group > .lengthen-input-width,
.a-input-group > .longer-input-width {
    float: left;
    margin-right: 8px;
    margin-bottom: 10px;
}