/*表组，处方模板*/
.table-group {
    border: 1px solid #e8e8e8;
    border-bottom: none;
}


.table-group-row {
    border-bottom: 1px solid #e8e8e8;
}

/*用户列表高亮度*/
.user-list-high-light {
    background-color: #e6f7ff;
    font-weight: bold;
}

.layout-content-inner-main {
    min-width: 900px;
}

.col-right {
    border-left: 1px solid #e8e8e8;
}