/*表组，处方模板*/
.table-group {
    border: 1px solid var(--basic-border-color);
    border-bottom: none;
}

.table-group-row {
    border-bottom: 1px solid var(--basic-border-color);
}

/*用户列表高亮度*/
.user-list-high-light {
    background-color: var(--user-list-is-in-hospital-bgc);
    color: var(--user-list-is-in-hospital-c);
    font-weight: bold;
}

.layout-content-inner-main {
    min-width: 900px;
    position: relative;
}

.col-right {
    border-left: 1px solid var(--basic-border-color);
}